<!doctype html>
<html lang="en">

<head>
    <title>web2_lab3</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<canvas id="canvas" style="display: block; margin-left: auto; margin-right: auto; width: 99%"></canvas>
</body>

<script>
    let canvas = document.getElementById("canvas");
    let context = canvas.getContext("2d");
    window_width = window.innerWidth;
    window_height = window.innerHeight;
    canvas.width = window_width;
    canvas.height = window_height;

    let gradient = context.createRadialGradient(window_width / 2, window_height / 2, window_width / 8, window_width / 2, window_height / 2, window_width / 2);
    gradient.addColorStop(0, 'yellow');
    gradient.addColorStop(1, 'blue');

    context.fillStyle = gradient;
    context.fillRect(0, 0, window_width, window_height);

    let counter = 0;

    class Square {
        constructor(x_pos, y_pos, length, speed) {
            this.position_x = x_pos;
            this.position_y = y_pos;
            this.length = length;
            this.speed = speed;
            this.delta_x = this.speed;
            this.delta_y = this.speed;
        }

        draw(context) {
            context.beginPath();
            context.strokeStyle = 'black';
            context.lineWidth = 3;

            let gradient = context.createRadialGradient(this.position_x, this.position_y, this.length / 4, this.position_x, this.position_y, this.length);
            gradient.addColorStop(0, 'red');
            gradient.addColorStop(1, 'green');

            context.rect(this.position_x - this.length, this.position_y - this.length, this.length * 2, this.length * 2);
            context.fillStyle = gradient;
            context.fillRect(this.position_x - this.length, this.position_y - this.length, this.length * 2, this.length * 2);
            context.stroke();
            context.closePath();
        }

        update() {
            this.draw(context);

            let speedDiff = get_random_number(-0.4, 0.5)

            if ((this.position_y - this.length) < 0) {
                this.delta_y = -this.delta_y;
                this.delta_y += speedDiff;
                if (this.delta_x > 0) {
                    this.delta_x += speedDiff;
                } else {
                    this.delta_x -= speedDiff;
                }
            }

            if ((this.position_y + this.length) > window_height) {
                this.delta_y = -this.delta_y;
                this.delta_y -= speedDiff;
                if (this.delta_x > 0) {
                    this.delta_x += speedDiff;
                } else {
                    this.delta_x -= speedDiff;
                }
            }

            if ((this.position_x + this.length) > window_width) {
                this.delta_x = -this.delta_x;
                this.delta_x -= speedDiff;
                if (this.delta_y > 0) {
                    this.delta_y += speedDiff;
                } else {
                    this.delta_y -= speedDiff;
                }
            }

            if ((this.position_x - this.length) < 0) {
                this.delta_x = -this.delta_x;
                this.delta_x += speedDiff;
                if (this.delta_y > 0) {
                    this.delta_y += speedDiff;
                } else {
                    this.delta_y -= speedDiff;
                }
            }

            this.position_x += this.delta_x;
            this.position_y += this.delta_y;

        }
    }

    let calculate_distance = function (x_pos1, y_pos1, x_pos2, y_pos2) {
        return Math.sqrt(Math.pow(x_pos2 - x_pos1, 2) + Math.pow(y_pos2 - y_pos1, 2));
    }
    let get_random_number = function (min, max) {
        return Math.random() * (max - min) + min;
    }
    let update_score = function (score, number_of_squares) {
        context.font = "30px Consolas";
        context.fillStyle = "magenta";
        context.textAlign = "end";
        context.fillText("Score: " + score + "/" + Math.ceil(number_of_squares), canvas.width - 30, 50);
    }
    let all_squares = [];
    let number_of_squares = get_random_number(1, 15);
    for (let i = 0; i < number_of_squares; i++) {
        let length = 0;
        if (window_width < window_height){
            length = 0.02 * window_width;
        }else{
            length = 0.02 * window_height;
        }
        let random_x = get_random_number(length * 2, (window_width - length * 2));
        let random_y = get_random_number(length * 2, (window_height - length * 2));
        for (let a = 0; a < all_squares.length; a++) {
            if ((calculate_distance(random_x, random_y, all_squares[a].position_x, all_squares[a].position_y) - length + all_squares[a].length < 0)) {
                random_x = get_random_number(length * 2, (window_width - length * 2));
                random_y = get_random_number(length * 2, (window_height - length * 2));
            }
            a = all_squares.length;
        }
        let tmp_square = new Square(random_x, random_y, length, get_random_number(1, 2));
        all_squares.push(tmp_square);
    }
    let update_square = function () {
        requestAnimationFrame(update_square);

        context.clearRect(0, 0, window_width, window_height);

        let gradient = context.createRadialGradient(window_width / 2, window_height / 2, window_width / 8, window_width / 2, window_height / 2, window_width / 2);
        gradient.addColorStop(0, 'yellow');
        gradient.addColorStop(1, 'blue');

        context.fillStyle = gradient;
        context.fillRect(0, 0, window_width, window_height);

        all_squares.forEach(element => {
            element.update();
        })
        update_score(counter, number_of_squares)
        if(all_squares.length === 0){
            context.clearRect(0, 0, window_width, window_height);

            context.font = "60px Consolas";
            context.fillStyle = "green";
            context.textAlign = "center";
            context.fillText("FINAL SCORE: " + counter, window_width / 2, window_height / 2);
        }
        console.log(all_squares)
    }
    update_square();
    canvas.addEventListener('click', (event) => {
        let click_x = event.pageX;
        let click_y = event.pageY;
        let clickedElement = all_squares.findLast(element =>
            element.position_x + 50 > click_x &&
            element.position_x - 50 < click_x &&
            element.position_y + 50 > click_y &&
            element.position_y - 50 < click_y
        )
        if (clickedElement !== undefined) {
            all_squares.splice(all_squares.indexOf(clickedElement), 1);
            counter += 1;
        }
    });
</script>

</html>